/*GRID - media queries breakpoints*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: #F9FAFB;
  font-family: ilight;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon {
  font-size: 24px;
}

body {
  line-height: 1.2;
  background: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.active-text {
  color: #3865F3;
}

.input-radio input {
  display: none;
}

.input-radio input:checked + label:after {
  display: inline-block;
}

.input-radio input:checked + label:before {
  border: 1px solid #3865F3;
}

.input-radio label.radiobox {
  text-indent: 25px;
  position: relative;
  cursor: pointer;
}

.input-radio label.radiobox:before {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  content: '';
  display: block;
  height: 16px;
  left: 0;
  bottom: 3px;
  width: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-radio label.radiobox:after {
  position: absolute;
  content: '';
  display: none;
  background: #3865F3;
  border-radius: 50%;
  height: 8px;
  left: 4px;
  bottom: 7px;
  width: 8px;
}

.input-check input {
  display: none;
}

.input-check input:checked + label:after {
  display: inline-block;
}

.input-check input:checked + label:before {
  background: #3865F3;
  border-color: #3865F3;
}

.input-check label.checkbox {
  text-indent: 25px;
  position: relative;
  cursor: pointer;
}

.input-check label.checkbox:before {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  bottom: 3px;
  width: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-check label.checkbox:after {
  position: absolute;
  content: '';
  display: none;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 11px;
  left: 6px;
  bottom: 7px;
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
  width: 5px;
}

.title {
  text-align: center;
  font-family: pop;
}

.title__text {
  font-size: 40px;
  font-weight: 600;
  color: #222222;
  line-height: 60px;
}

.title__desc {
  font-size: 20px;
  font-weight: 300;
  color: #94959B;
  line-height: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container {
  width: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo__contain {
  display: block;
  height: 56px;
}

header .menu {
  margin-left: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu__item {
  height: 100%;
}

header .menu__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
  height: 100%;
  font-family: pop;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #222222;
  text-decoration: none;
  position: relative;
}

header .menu__item-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #3865F3;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .menu__item-text:hover::after {
  width: 100%;
  left: 0;
  right: initial;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header .auth__btn {
  font-family: pop;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 24px;
  background-color: #3865F3;
  border-radius: 12px;
  color: #FFFFFF;
}

header .auth__btn.--register {
  margin-left: 24px;
  background-color: initial;
  color: #3865F3;
  border: 2px solid #3865F3;
}

header .auth__btn.--register:hover {
  background-color: #3864f346;
}

header .btn-menu {
  display: none;
  width: 40px;
  height: 32px;
  position: relative;
  margin-left: auto;
}

header .btn-menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3865F3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

header .btn-menu::before, header .btn-menu::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3865F3;
}

header .btn-menu::after {
  top: initial;
  bottom: 0;
}

@media (max-width: 1199px) {
  header .menu {
    margin-left: 24px;
  }
}

@media screen and (max-width: 991px) {
  header .logo__contain {
    height: 44px;
  }
  header .menu__item {
    height: 100%;
  }
  header .menu__item-text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
  }
  header .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  header .auth__btn {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
  }
  header .auth__btn.--register {
    margin-left: 12px;
    border: 1px solid #3865F3;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
  header .menu {
    display: none;
    margin-left: 100px;
    height: 100%;
  }
  header .menu__item {
    height: 100%;
  }
  header .menu__item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 28px;
    height: 100%;
    font-family: pop;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
    position: relative;
  }
  header .menu__item-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #3865F3;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  header .menu__item-text:hover::after {
    width: 100%;
    left: 0;
    right: initial;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  header .auth {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  header .auth__btn {
    font-family: pop;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 24px;
    background-color: #3865F3;
    border-radius: 12px;
    color: #FFFFFF;
  }
  header .auth__btn.--register {
    margin-left: 24px;
    background-color: initial;
    color: #3865F3;
    border: 2px solid #3865F3;
  }
  header .auth__btn.--register:hover {
    background-color: #3864f346;
  }
  header .btn-menu {
    display: block;
  }
}

.home {
  padding-top: 100px;
}

.home .veshion .title {
  text-align: left;
}
