// File chứa các style của các element nhỏ trong dự án
.icon {
    font-size: 24px;
}

body {
    // font-size: 65%;
    line-height: 1.2;
    background: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.input-radio {
    input {
        display: none;

        &:checked+label {
            &:after {
                display: inline-block;
            }

            &:before {
                border: 1px solid $cl-primary;
            }
        }
    }

    label.radiobox {
        text-indent: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.15);
            content: '';
            display: block;
            height: 16px;
            left: 0;
            bottom: 3px;
            width: 16px;
            transition: all 0.3s;
        }

        &:after {
            position: absolute;
            content: '';
            display: none;
            background: $cl-primary;
            border-radius: 50%;
            height: 8px;
            left: 4px;
            bottom: 7px;
            width: 8px;
        }
    }
}

.input-check {
    input {
        display: none;

        &:checked+label {
            &:after {
                display: inline-block;
            }

            &:before {
                background: $cl-primary;
                border-color: $cl-primary;
            }
        }
    }

    label.checkbox {
        text-indent: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            content: '';
            display: block;
            height: 16px;
            left: 0;
            position: absolute;
            bottom: 3px;
            width: 16px;
            transition: all 0.3s;
        }

        &:after {
            position: absolute;
            content: '';
            display: none;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 11px;
            left: 6px;
            bottom: 7px;
            transform: rotate(48deg);
            width: 5px;
        }
    }
}